src/main/mule/routing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="routingFlow" doc:id="20a86993-dfe3-4294-bc46-882049453d82" >
		<http:listener doc:name="Listener" doc:id="17a4a977-65cd-44da-9e74-e53ca504377d" config-ref="HTTP_Listener_config" path="/choice"/>
		<choice doc:name="Choice" doc:id="a6cc722f-2153-451a-9ef3-a20f0564c8fa" >
			<when expression="#[attributes.queryParams.'language' == 'Telugu']">
				<ee:transform doc:name="Transform Message" doc:id="9186c29a-9926-41d0-9352-f30778dcc7a1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Greetings" : "namaskaram"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="attributes.queryParams.'language' == Hindi'">
				<ee:transform doc:name="Transform Message" doc:id="4fce3bc4-41ce-4ece-9911-05c9dbeb4170" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Greetings" : "shuboday"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="305be883-9d33-4428-96d4-538808628e20" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Greetings" : "good morning"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
